<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Esa pagina no existe</h1>
                <a href="/">Ir a la home</a>
            </div>
        </div>
    </div>
</main>
