<!-- CUERPO DEL EJERCICIO -->
<p>Este proyecto lo hicimos para aprender cómo funcionan las promesas 
    cuando aún no habíamos visto MongoDB ni bases de datos.
    Para entender el ejercicio, provocamos un retraso en las peticiiones 
    con la función setTimeout(), con la intención de 'simular' ese retardo 
    de 2 o 3 segundos.
</p>
<p>
    Ahora ya sabemos lo que es una base de datos Mongo. Seguimos usando 
    promesas pero ya no necesitamos emularlo con setTimeout().
</p>

<a href="/citas/nueva">Ir a las citas</a>
